<h4>Formularios <small>DATA</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [ngClass]="{ 'is-invalid': (forma.controls['nombre'].errors?.required || forma.controls['nombre'].errors?.minlength) && forma.controls['nombre'].touched, 'is-valid':!forma.controls['nombre'].errors?.required || !forma.controls['nombre'].errors?.minlength }">

        <div *ngIf="forma.controls['nombre'].errors?.required">
            El nombre es necesario
        </div>

        <div *ngIf="forma.controls['nombre'].errors?.minlength">
            Debe ser mayor a {{forma.controls['nombre'].errors?.minlength.requiredLength}}
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">

        <div *ngIf="forma.controls['apellido'].errors?.required">
          El Apellido es necesario
        </div>
    
        <div *ngIf="forma.controls['apellido'].errors?.noRomero">
          Apellido no valido
        </div>               

      </div>
    </div>
 
    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-md-8">
  
        <input class="form-control"
               type="email"
               placeholder="Correo electrónico"
               formControlName="email">

               <div *ngIf="forma.controls['email'].errors?.required">
                El correo es necesario
              </div>
          
              <div *ngIf="forma.controls['email'].errors?.pattern">
                Correo no valido
              </div>   

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre de Usuario</label>
      <div class="col-md-8">
  
        <input class="form-control"
               type="text"
               placeholder="Usuario"
               formControlName="username">

               <div *ngIf="forma.controls['username'].errors?.required">
                El Usuario es necesario
              </div>
          
              <div *ngIf="forma.controls['username'].errors?.existeUsuario">
                Usuario no valido
              </div>                 
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-2 col-form-label">Contraseña</label>
      <div class="col-md-8">
  
        <input class="form-control"
               type="password"
               placeholder="Contraseña"
               formControlName="password1">
               <div *ngIf="forma.controls['password1'].errors?.required">
                La contraseña es necesaria
              </div>               
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-2 col-form-label">Repita la contraseña</label>
      <div class="col-md-8">
  
        <input class="form-control"
               type="password"
               placeholder="Repita Contraseña"
               formControlName="password2">

               <div *ngIf="forma.controls['password2'].errors?.required">
                Repetir la contraseña es necesario
              </div>
          
              <div *ngIf="forma.controls['password2'].errors?.noigual">
                Contraseña no coincide
              </div>                  
      </div>
    </div>

    <div formGroupName="direccion">
      <div  class="form-group row">
          <label class="col-2 col-form-label">Direccion</label>
          <div class="col-8">
              <div class="row">
                  <div class="col-2">
                    <input class="form-control"
                    type="text"
                    placeholder="Calle"
                    formControlName="calle"
                    [ngClass]="{ 'is-invalid': (forma.get('direccion.calle').errors?.required) && forma.get('direccion.calle').touched, 'is-valid':!forma.get('direccion.calle').errors?.required }">
                  </div>
                  <div class="col-2">
                      <input class="form-control"
                      type="text"
                      placeholder="Carrera"
                      formControlName="carrera">
                  </div>
                  <div class="col-2">
                      <input class="form-control"
                      type="text"
                      placeholder="Número"
                      formControlName="numeroCasa">
                  </div>
                  <div class="col-3">
                      <input class="form-control"
                      type="text"
                      placeholder="Localidad"
                      formControlName="localidad">
                  </div>
                  <div class="col-3">
                    <input class="form-control"
                    type="text"
                    placeholder="Barrio"
                    formControlName="barrio">
                  </div>
                </div>
          </div>
          
      </div>
        

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    
    <div class="col-md-8" formArrayName="pasatiempos">

      <input *ngFor="let p of forma.controls['pasatiempos'].controls; let i=index"
            [formControlName]="i"
            type="text" 
            class="form-control">

    </div>

    <button (click)="agregarPasatiempo()"
    type="button" class="btn btn-primary">Nuevo</button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
{{forma.valid}}

<br><br>
{{forma.status}}
</form>